.App {
  text-align: center;
}

.contact_social {
  display: flex;
  padding: 1.5rem;
  justify-content: center;
}
.contact_social-icon i {
  margin: 1rem 1.5rem;
  padding: 1rem;
  border: solid 2px var(--color-heading);
  border-radius: 50%;
  color: var(--color-heading);
  transition: all 0.3s ease-in-out;
}
.contact_social-icon i:hover {
  color: red;
  background-color: yellow;
}

.contact_social-icon i {
  margin: 1rem 0.5rem;
  padding: 0.8rem;
}